---
import { SITE } from '@/config';
import HeaderLink from './HeaderLink.astro';
import Search from './Search.astro';

const { blogPage, twitterId, githubId } = SITE;
---

<div class='flex-grow text-right md:mr-1 -mr-2.5'>
  <Search />
  <HeaderLink href={blogPage} target='_blank'>Blog</HeaderLink>
  <HeaderLink href={`https://twitter.com/${twitterId}`} target='_blank' class='lg:inline-block hidden'>Twitter</HeaderLink>
  <HeaderLink href={`https://github.com/${githubId}`} target='_blank'>GitHub</HeaderLink>
  <HeaderLink href={`https://jwy-hm.notion.site/jwy_hm-s-world-2afa505e2ef68074b5f9f0c211bf1028`} target='_blank'>Notion</HeaderLink>
  <HeaderLink href='/rss.xml' target='_blank' class='lg:inline-block hidden'>RSS</HeaderLink>
</div>
